/*

String Field Stylesheet

*/

.string-field-group {
    display: flex;
    flex-direction: column;
}

.string-field-label {
    display: inherit;
    font-size: 0.75rem;
    color: var(--gray-ligher);

    margin-bottom: 5px;
}

.string-field-input {
    display: inherit;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid var(--gray-ligher);
}

.string-field-input:focus, .string-field-input:hover {
    border-bottom: 1px solid var(--secondary);
}
