/*

Header Stylesheet

*/

.header {
    display: flex;
    flex-direction: row;
    background-color: var(--gray-darker);
}

.header-wrapper {
    display: inherit;
    flex-direction: inherit;

    padding-top: 25px;
    padding-bottom: 25px;
}

.header-first-section {
    display: inherit;
    flex-direction: inherit;
    flex: 1 1 0%;

    justify-content: flex-start;
    align-items: center;
}

.header-second-section {
    display: inherit;
    flex-direction: inherit;
    flex: 1 1 0%;

    justify-content: center;
    align-items: center;
}

.header-third-section {
    display: flex;
    flex-direction: inherit;
    visibility: hidden;
    flex: 1 1 0%;

    justify-content: flex-end;
    align-items: center;
}

@media only screen and (min-width: 1024px) {
    .header-third-section {
        visibility: visible;
    }
}

.header-logo {
    height: 35px;
}
