/*

Main Stylesheet

*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body {
        @apply bg-dark text-light;
        @apply leading-normal tracking-wider;

        font-family: "Open Sans", sans-serif;
    }

    button {
        @apply outline-none !important;
        @apply transition-colors duration-300 ease-in-out;
    }
}

@layer components {
    .wrapper {
        @apply m-auto;
        @apply px-6;
    }


    /*
    ########################################

    Sidebar

    ########################################
    */

    .sidebar {
        @apply flex flex-col fixed top-0 min-h-screen;
        @apply bg-gray-darker;
        @apply transition-all duration-300 ease-in-out;

        width: 280px;
        left: -280px;
    }

    .sidebar.active {
        left: 0;
    }

    .overlay {
        @apply hidden fixed top-0 left-0 min-h-screen min-w-full;
        @apply bg-dark opacity-75 cursor-pointer;
    }

    .overlay.active {
        @apply flex;
    }


    /*
    ########################################

    Button

    ########################################
    */

    .btn {
        @apply flex flex-row justify-center items-center;
        @apply text-light rounded;

        padding: 4px;
    }

    .btn-link:hover {
        @apply text-secondary;
    }
}

@layer utilities {
    .icon {
        width: 25px;
        height: 25px;
    }
}
